.form-c{
	font-family: "britannic bold";
	font-size: 18px;
	color: azure;
	background: black;
	padding: 30px;
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
	width: 400px;

}
h1{
	font-family: Edwardian script ITc;
	color: #96dbdc;
	font-size: 40px;

}

